/* You can add global styles to this file, and also import other style files */
body{
  background: #74ebd5;
  background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5);
  background: linear-gradient(to right, #74ebd5 ,#ACB6E5);
}

.titleMyAge{
  color: white;
  text-align: center;
}
